* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
}

#successMesssage {
    background-color: lightgreen;
    padding: 1rem 1.2rem;
    margin-top: 2rem;
    border-radius: 5px;
    font-size: 1.1rem;
    visibility: hidden;
}

.container {
    width: 400px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding: 1rem 0;
    border-radius: 5px;
}

.container h2 {
    padding: 1rem;
}

form {
    display: flex;
    flex-direction: column;
}

form input {
    padding: 0.6rem;
    width: 300px;
    margin: 0px 5px;
}

form p {
    height: 1rem;
    margin: 2px 5px 12px;
    color: red;
}

form button {
    cursor: pointer;
    padding: 0.5rem;
    width: 70px;
    margin: 0px 5px 25px;
}