* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

.container {
  width: 600px;
  height: auto;
  margin-top: 1rem;
  text-align: center;
  box-shadow: 20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;
}

#heading {
  background-color: blueviolet;
  height: 200px;
  border: 1px solid blueviolet;
}

#heading h2 {
  margin-top: 50px;
}

#heading input {
  margin-top: 40px;
  padding: 5px;
  width: 15rem;
}

.users {
  margin-top: 50px;
  padding: 1px 10px;
}

#card {
  display: flex;
  padding: 10px;
  margin: 10px 5px;
  border: 1px solid;
  border-radius: 5px;
}

#card img {
  width: 5rem;
  height: 5rem;
}

#card div {
  margin-left: 10px;
  text-align: left;
}

#card h2 {
  margin-top: 8px;
}

#card p {
  margin-top: 5px;
}