* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

.container h1 {
    text-align: center;
    margin-top: 3rem;
}

.products_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 2rem;
}

.products_container .item {
    width: 350px;
    border: 1px solid;
}

.item img {
    width: 100%;
}

.item h2 {
    text-align: center;
}

/* .item h2,
.item h3,
.item p {
    margin: 1rem;
} */

.item :where(h2, h3, p) {
    margin: 1rem;
}

.item i {
    font-size: 1.2rem;
    color: goldenrod;
    margin-right: 2px;
}